{% extends "notes/base.html" %}
{% load static %}
{% block content %}
	{% for post in posts %}
		<article class="media content-section">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="#">{{ post.author }}</a>
		      <small class="text-muted">{{ post.date_posted|date:"j M, Y" }}</small>
		 	{% if post.author == user %}
		      <td> <a href="{% url 'notes-delete' post.id %}" type="submit" class="btn btn-outline-primary btn-sm" style="float: right;"> Delete </a> 
		      </td> 
		    {% endif %}
		    </div>
		    <p class="article-content">{{ post.content }}</p>
		  </div>
		</article>
	{% endfor %}
{% endblock content %}